h1 {
  color: red;
  font-size: 50px; }

body {
  font-family: "Verdana", sans-serif; }

.header {
  position: absolute;
  width: 120px;
  height: 720px;
  background-color: #38643C; }
  .header__contianer {
    width: 120px;
    height: 720px; }
  .header__colum {
    width: 120px;
    height: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo1 {
    padding-top: 50px;
    width: 100px;
    height: 60px; }
  .header__nav {
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; }
  .header__lible {
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 32px;
    text-align: center;
    padding-bottom: 46px; }

.subheader {
  width: 825px;
  height: 55px; }
  .subheader__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 50px; }
  .subheader__text {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 41px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 80px;
    color: rgba(0, 0, 0, 0.35); }
  .subheader__text:first-child {
    margin-left: 0; }

.container {
  margin: 0 0 0 205px; }

.section__row {
  width: 800px;
  height: px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.section__title {
  padding-top: 30px;
  margin-left: -8px;
  width: 462px;
  height: 100px;
  left: 205px;
  top: 131px;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 124px;
  color: #000000; }
.section__text {
  padding-top: 30px;
  width: 462px;
  height: 328px;
  left: 205px;
  top: 251px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #000000; }
.section__curcle {
  margin-top: 30px;
  background: rgba(217, 217, 217, 0.35);
  width: 500px;
  height: 500px;
  border-radius: 500px; }
.section__logo {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-left: 40px;
  width: 438px; }

.footer {
  height: 55px; }
  .footer__row {
    padding-top: 30px;
    width: 818px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__logo1 {
    width: 103px;
    height: 55px; }
  .footer__logo2 {
    width: 52px;
    height: 55px; }
  .footer__logo3 {
    width: 90px;
    height: 55px; }
  .footer__logo4 {
    width: 317px;
    height: 55px; }

/*# sourceMappingURL=style.css.map */